/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### May lice invade your shoes should you commit these files ###
.creds
creds.yml
creds.yaml
creds.properties
creds.json

ci/body
ci/commit_sha
ci/tag
ci/version